<p>
  Lat: {{this.displayLat}}
  <br>
  Lng: {{this.displayLng}}
</p>
<GMap
  @lat={{this.displayLat}}
  @lng={{this.displayLng}}
/>
<button
  {{on "click" this.changePosition}}
>
  Change position
</button>
